<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Book an Appointment</title>

    <!--  Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

    <!--    Bootstrap    -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    <!-- Styles -->
    <link rel="stylesheet" href="style/book_style.css" </head> <body>
    <%-include("navbar")-%>

    <div id="status">
        <h4>Status:</h4>
        <p>Here you can see the status of your appointment.</p>
    </div>

    <div id="selectors">
        <form id="book_appointment">
            <div class="appointment-type">
                <h4>Choose the type of consultation you would like to book:</h4>
                <input type="radio" name="meetType" value="online" id="online"><label for="online">Online
                    Consultation</label>
                <input type="radio" name="meetType" value="offline" id="offline"><label for="offline">In-person
                    Consultation</label>
            </div>

            <div class="date">
                <h4>Choose a date for the consultation:</h4>
                <% dates.forEach(date => { %>
                <input style="cursor:pointer;" type="radio" name="date" value="<%- date %>" id="<%- date %>"><label for="<%- date %>">
                    <%- date %> </label>
                <%  }) %>
            </div>

            <div class="time">
                <h4>Choose a time for the consultation:</h4>
                <% for(let i =9; i<=16 ;i++ ) { %>
                <input style="cursor:pointer;" type="radio" name="time" value="<%- i %>:00" id="time<%- i %>0"><label for="time<%- i %>0">
                    <%- i %>:00 </label>
                <input style="cursor:pointer;" type="radio" name="time" value="<%- i %>:15" id="time<%- i %>1"><label for="time<%- i %>1">
                    <%- i %>:15 </label>
                <input style="cursor:pointer;" type="radio" name="time" value="<%- i %>:30 " id="time<%- i %>2"><label for="time<%- i %>2">
                    <%- i %>:30 </label>
                <input style="cursor:pointer;" type="radio" name="time" value=" <%- i %>:45" id="time<%- i %>3"><label for="time<%- i %>3">
                    <%- i %>:45 </label>
                <%  } %>
            </div>

            <a href="/" style="color: #841934">Book</a>
        </form>
    </div>
    </body>

</html>